# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data (à ne pas versionner)
data/
datasets/
*.nii
*.nii.gz
*.dcm
*.zip
*.pt
*.pth

# Logs / outputs
runs/
outputs/
checkpoints/
wandb/
mlruns/

# OS
.DS_Store
Thumbs.db
poetry-installer-error-*.log
